html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: linear-gradient(to bottom, #121212, #2a2a2a);
  display: flex;
  font-family: swap;
  height: inherit;
  justify-content: center;
}

.wrapper{
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.457);
  color: #232323;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  flex-basis: 400px;
  height: 540px;
  padding: 20px 35px;
}

.screen{
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(246, 246, 246, 0.881);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.701);
  font-size: 35px;
  overflow: auto;
  padding: 20px;
  text-align: right;
  width: 326px;
}

.calc-button-row{
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.calc-button{
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(246, 246, 246, 0.881);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  color: #232323;
  flex-basis: 20%;
  font-family: inherit;
  font-size: 24px;
  height: 65px;
}

.calc-button:last-child{
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(246, 246, 246, 0.881);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  color: #232323;
  background: rgb(216, 74, 74);
}